* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.all{
  border: solid 5px var(--verde-escuro);
  display: flex;
  width: auto;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
align-self: center;
  margin: 80px auto; 
  min-width: 400px;
}

/* Lado esquerdo */
.left {
  flex: 1;
  background: linear-gradient(135deg, #000000, #2ecc71);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
    border-right: solid 2.5px var(--verde-escuro);

}

.left h1 {
  font-size: 4rem;
  margin-bottom: 15px;
}

.left p {
  font-size: 2rem;
  margin-bottom: 30px;
}

.btn-outline {
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 12px 40px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s;
}

.btn-outline:hover {
  background: white;
  color: #141a18;
}

/* Lado direito */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #ffffff;
  border-left: solid 2.5px var(--verde-escuro);
}

.right h2 {
  color: #000000;
  margin-bottom: 25px;
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 320px;
}

form input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.5rem;
}

.btn-solid {
  background: #081a0f;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-solid:hover {
  background: #168059;
}



/* Responsividade */
@media (max-width: 900px) {
  .all {
    flex-direction: column;
    height: auto;
  }

  .left {
    width: 100%;
    padding: 50px 20px;
       border-bottom:solid 2.5px var(--verde-escuro);
  }

  .right {
     width: 100%;
    padding: 50px 20px;
   border-top:solid 2.5px var(--verde-escuro);
  }
  .left h1 {
    font-size: 1.8rem;
  }

  .right h2 {
    font-size: 1.5rem;
  }
}
