*{margin: 0%;}
.header {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 40px;
  text-align: center;
  background-color: #ffffff;
   margin-left: 6px;
    margin-right: 6px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
color: rgb(255, 0, 0);
margin-bottom: 10px;
min-width:420px ;
}
 
img{
  margin-left: 2%;
  border-radius: 20px;
  border: 2px solid black;
 
}

body{background-color: #f69191;
height: 100%;}


  .subtitle{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    display: flex;  
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 20px;
    height: 100%;
    min-width: 400px;
    max-width: 600px;
  }
  .subtitle ul{
    list-style: none;
    display: flex;
  }
  .subtitle li{
    text-align: center;
  }
  .subtitle a{
    display: flex;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .subtitle a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  } 


.intro{ 
   
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  background-color: #ffffffe2;
  margin-left: 6px;
    margin-right: 6px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 5px;
color: rgb(0, 0, 0);
border-bottom: 2px solid black;
min-width:420px ;
height: 100%;
}
.produtos{
      display: flex;
flex-direction:column;
flex-wrap:wrap;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
    background-color: rgb(235, 235, 235);
  margin-left: 10px; 
  margin-right: 10px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 5px;
color: rgb(0, 0, 0);}

.produtos img{
flex-wrap:wrap;  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 20px;
  border: 2px solid black;}

 .produtos li{
  margin-left: 20px;
 }

.text{ margin-left: 7px;
margin-right: 7px;}

.mundial{margin-left: 7px;
border-bottom: 2px solid rgb(255, 0, 0);}
.continentais{margin-left: 7px;
border-bottom: 2px solid rgb(255, 0, 0);}
.nacionais{margin-left: 7px;
border-bottom: 2px solid rgb(255, 0, 0);}
.ESTADUAIS{margin-left: 7px;
border-bottom: 2px solid rgb(255, 0, 0);}

.dados{
  text-align: center;
   background-color: rgb(235, 235, 235);
  margin-left: 30%; 
  margin-right: 30%;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 50px;
color: rgb(0, 0, 0);
height: 480px;
}
.numero{  background-color: rgb(187, 187, 187);
  margin-left: 30px; 
  margin-right: 30px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 10px;
color: rgb(0, 0, 0);
height: 30px;
text-align: center;
}
.nome{margin-top: 15px;}

.Nome{  background-color: rgb(187, 187, 187);
  margin-left: 30px; 
  margin-right: 30px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 10px;
color: rgb(0, 0, 0);
height: 30px;
text-align: center;
}
a{
  color: rgb(0, 0, 0);
}

@media  screen and (max-width: 600px) {
  
  .intro img{
    height: 200px;
  }
}
  
@media screen and (max-width: 410px) {
  .header {
    font-size: 25px;
  }
  .intro img{
    height: 150px;
  }
  .intro{
    font-size: 15px;
  }
  .produtos{
    font-size: 15px;
  }
}
.card1{
  display: flex;
 flex-wrap: wrap;

}
