*{margin: 0%;}
.header {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  background-color: #ffffff;
  margin-left: 50px; 
  margin-right: 50px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
color: rgb(255, 0, 0);
margin-bottom: 10px;
}
 .img{
margin-left: 8px;
height: 225px;
margin-right: 1250px;
margin-bottom: 20px;
border: 5px solid black;
border-radius: 5px;
}

body{background-color: #f69191;}


  .subtitle{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    border: 2px solid #000000;
    border-radius: 20px;
  }
  .subtitle ul{
    list-style: none;
    margin: 0;
    padding: o;
    display: flex;
  }
  .subtitle li{
    text-align: center;
  }
  .subtitle a{
    display: flex;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .subtitle a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  } 


.intro{ 
   
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  background-color: #ffffffe2;
  margin-left: 10px; 
  margin-right: 10px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 5px;
color: rgb(0, 0, 0);
border-bottom: 2px solid black;;
}
.produtos{
  
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
    background-color: rgb(235, 235, 235);
  margin-left: 10px; 
  margin-right: 10px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 5px;
color: rgb(0, 0, 0);}
 .produtos li{
  margin-left: 20px;
 }

.text{ margin-left: 7px;
margin-right: 7px;}

.mundial{margin-left: 7px;
margin-right: 400px;
border-bottom: 2px solid rgb(255, 0, 0);}
.continentais{margin-left: 7px;
margin-right: 400px;
border-bottom: 2px solid rgb(255, 0, 0);}
.nacionais{margin-left: 7px;
margin-right: 400px;
border-bottom: 2px solid rgb(255, 0, 0);}
.ESTADUAIS{margin-left: 7px;
margin-right: 400px;
border-bottom: 2px solid rgb(255, 0, 0);}

.dados{
  text-align: center;
   background-color: rgb(235, 235, 235);
  margin-left: 30%; 
  margin-right: 30%;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 50px;
color: rgb(0, 0, 0);
height: 480px;
}
.numero{  background-color: rgb(187, 187, 187);
  margin-left: 30px; 
  margin-right: 30px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 10px;
color: rgb(0, 0, 0);
height: 30px;
text-align: center;
}
.nome{margin-top: 15px;}

.Nome{  background-color: rgb(187, 187, 187);
  margin-left: 30px; 
  margin-right: 30px;
  border: 5px solid black;
border-radius: 20px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 10px;
color: rgb(0, 0, 0);
height: 30px;
text-align: center;
}
a{
  color: rgb(0, 0, 0);
}
